* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the whole page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background: linear-gradient(#6f37a6, #3a297e, #140840);
}

button {
    cursor: pointer;
    background: none;
    border-radius: 8px;
    outline: none;
    padding: 10px 20px;
    border: rgba(232, 114, 66, 0.93) solid 4px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    color: rgba(244, 164, 132, 0.93);
}

button:hover {
    background-color: rgba(232, 114, 66, 0.93);
    color: black;
    border: rgba(232, 114, 66, 0.93) solid 4px;
}

.selected-button {
    background-color: rgba(232, 114, 66, 0.93);
    border: rgba(232, 114, 66, 0.93) solid 4px;
}

.sidebar-button {
    width: 13rem;
    height: 4.2rem;
    font-size: 1.35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}


.submit-button {
    background-color: rgba(241, 91, 29, 1);
    color: white;
    border: transparent;
    width: 13rem;
    height: 3.3rem;
    font-size: 1.35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submit-button:hover {
    background-color: rgba(237, 71, 2, 1);
    border: none;
}

/* Top bar styling */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #9a5adb52;
    border-radius: 8px;
}

/* Hamburger menu styling for mobile */
.hamburger {
    flex-direction: column;
    cursor: pointer;
}

/* Sidebar styling */
.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    transition: transform 0.5s ease;
}

.sidebar-container.hidden {
    transform: translateX(-100%); /* Slide to the right */
}

.sidebar-container.display-none {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(232, 114, 66, 0.93);
}

.sidebar {
    height: 90vh;
    background-color: rgba(177, 102, 255, 0.18);
    color: #fff;
    margin: 15px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    align-content: center;
}

.main {
    width: 100%;
    height: 100%;
}

/* Attendoo main container styling */
.attendoo {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: linear-gradient(#6f37a6, #3a297e, #140840);
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(#6f37a6, #3a297e, #140840);
    border-radius: 8px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    background-color: #6f37a6;
    color: aliceblue;
    border: transparent 2px;
    font-size: 1.3rem;
    width: 25rem;
}

.form-field {
    display: flex;
    justify-content: space-between;
    box-shadow: black 0 0 10px;
    border-radius: 8px;
    gap: 10px;
}

.inner-container {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(177, 102, 255, 0.11);
}

.container-header {
    color: white;
    margin-top: 10px;
}

.container-tab {
    width: 32rem;
    height: fit-content;
    padding: 15px;
    background-color: rgb(255, 160, 94);
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.container-field {
    font-size:  1.1rem;
    padding: 0.5rem;
}

.mini-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.one-line-container {
    margin: 0.5rem 0;
}

.employee-name-container {
    font-size: 1.4rem;
    margin: 0.5rem 0.8rem;
}

/* Profile avatar styling */
.avatar {
    width: 40px;
    height: 40px;
    background-color: #444;
    border-radius: 50%;
    margin: 0.5rem
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    font-size: 2rem !important;
    cursor: pointer;
}

.icon:hover {
    color: white;
}

/* ==== LOGIN / REGISTER pane ==== */
.login-pane {
    position: fixed;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 90%;
    z-index: 9999;
    background: linear-gradient(#6f37a6, #3a297e, #140840);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 160, 94);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-register-action {
    color: antiquewhite;
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
    padding: 8px;
}

/* ==== USERS container ====  */

.users-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.user-header {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.user-credentials {
    font-size: 1.5rem;
    padding: 0.3rem;
    background-color: rgba(218, 92, 7, 0.77);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(232, 113, 31, 0.77);
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;
}

.user-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

/* ==== CREATE USER container ==== */

.create-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 160, 94);
    padding: 30px;
    border-radius: 15px;
    gap: 1.2rem;
    width: 50%;
}

.create-user-container-splitter {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* ==== DASHBOARD container ==== */
.dashboard-container {
    display: flex;
    flex-direction: row;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.day-box {
    width: 110px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(248, 135, 57, 0.8);;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}


/* Style the select element */
select {
    width: 25rem;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #6f37a6;
    color: #f0f8ffa1;;
    cursor: pointer;
    outline: none;
    appearance: none; /* Remove default arrow on some browsers */
}

/* Change appearance when focused */
select:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

/* Style the dropdown arrow (use ::after for custom arrow) */
select::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 6px solid transparent;
    border-top-color: #333;
}

/* Style individual options */
option {
    padding: 10px;
    background: #fff;
    color: #333;
}

/* ==== Request containers ==== */


/* ==== NOT LOGGED IN container ==== */
.not-logged-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.6rem;
}

.header-margin {
    margin: 1rem 0 2rem 0;
}

.dashboard-container {
    display: flex;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.section {
    flex: 1;
    padding: 24px;
}

.left {
    flex: 1;
    border-right: 4px solid #d38349
}

.right {
    flex: 1;
}


.section h2 {
    margin-bottom: 16px;
    font-size: 20px;
}

.status-dot {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
}

.available { background-color: green; }
.busy { background-color: red; }
.offline { background-color: gray; }
.away { background-color: orange; }

.user-details p {
    margin: 0;
}

.user-details small {
    color: #515150;
}

.orange {
    color: #dc751f;
}


/** ================== Media Queries ================== **/

/* Media query for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .topbar {
        width: 100%;
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .container-tab {
        width: 100%;
    }
}
